/* reset */
.templateContainer {
  position: absolute;
  background-color: yellow;
  height: fit-content;
  cursor: text;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.cursor {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: grey;
}
